/* Resetando algumas configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte e o estilo básico para o corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('imagens/Apresentação Empresarial Moderna Azul e Verde (1).png') no-repeat center center/cover;
    color: #333;
    padding: 30px;
}

/* Cabeçalho */
header {
    background-color: #d616bd;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seção de conteúdo */
.content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 2px 5px hwb(0 100% 0% / 0.706);
}

.content h2 {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 500px;
    padding: 10px;
    background-color: #f80cbd;
    color: #ffffff;
}

footer p {
    font-size: 14px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header .logo {
    max-width: 100px; 
    height: auto;     
}
